/*
--- 01 TYPOGRAPHY SYSTEM
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8
- Letter spacing
-0.5px
0.75px

*/

@font-face {
  font-family: "GT-America-S";
  src: url("../src/fonts/GT-America-S.otf");
}
@font-face {
  font-family: "GT-America-S-Bold";
  src: url("../src/fonts/GT-America-S-Bold.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&family=Overpass:wght@400;700&family=Plus+Jakarta+Sans:wght@500;700&display=swap");
body {
  margin: 0;
  padding: 0;
}
.App-light {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fcfcfc;
}
.App-dark {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2d2d2d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  
}
.main-nav-link {
  cursor: pointer;
}
.main-nav-link:hover {
  opacity: 0.2;
}

.header {
  height: 7rem;
  max-width: 60rem;
  display: flex;
  margin: 0 auto;
  margin-top: 5rem;
  justify-content: center;

  align-items: center;

  box-shadow: 0 0 3px rgba(0, 0, 0, 0.14), 0 20px 13px -4px rgba(0, 0, 0, 0.06);
  border-radius: 35px;
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 100;
  transition: all 0.3s;
  opacity: 0.7;
}


.header:hover {
  transform: translateX(-50%) scale(1.2);
}

.list {
  list-style: none;
  display: flex;
  gap: 5.6rem;

  font-size: 1.6rem;
  font-weight: 500;

  font-style: normal;
  font-family: "Montserrat", sans-serif;
  color: #333;
}
ul {
  padding: 0;
}
li:hover {
  color: rgb(119, 119, 119);
}
a {
  text-decoration: none;
  color: rgb(31, 31, 31);
}

/* HOME */

.home {
  height: 40rem;
  padding-top: 27rem;
}

h1 {
  font-family: "GT-America-S-Bold", sans-serif;
  font-weight: 700;
  color: #333;
  font-size: 7.4rem;
  text-align: center;
}
.svg-height
{
  height: 7.4rem;
}
/* ZMIENIĆ NA H4  */
h4 {
  font-family: "GT-America-S", sans-serif;
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 7rem;
  color: #333;
}

/* ABOUT  */

.section-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: 100rem;
  padding: 0 8rem;
  gap: 3rem;
  max-width: 120rem;
}
.photo-one {
  height: 50rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
  opacity: 0.9;
}
.photo-one:hover {
  transform: translateX(4px);
  opacity: 0.8;
}

/* WORK  */

.section-work {
  background-color: #ddd;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 7rem;
}

.card {
  height: 60rem;
  min-width: 30rem;
  margin: 2rem 2rem;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
  padding: 4rem;
}
.card:hover {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  transform: scale(1.021);
  background-image: linear-gradient(#fff, #d6d6d6);
}

/* .card-three {
  background-image: linear-gradient(#04f, #0430aa);
} */

/* CARD  */

h2 {
  font-size: 4.4rem;
  color: rgb(31, 31, 31);
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  color: #555;
  font-weight: 400;
  line-height: 1.8;
}

.p--margin {
  margin-bottom: 4rem;
  margin-right: 28rem;
  margin-top: 2rem;
}

.span {
  font-weight: 700;
  color: #333;
}
.work-span {
  font-weight: 400;
  color: #333;
  font-size: 1.2rem;
}
/* .btn-box {
  display: flex;
  flex-direction: row;
  margin-right: 10rem;
} */
.btn {
  margin-right: 2rem;
  border: none;
  background-color: #333;
  color: rgb(240, 240, 240);
  border-radius: 7px;
  height: 4.4rem;
  font-family: "Montserrat";
  padding: 10px;
  margin-top: 2rem;
  width: 15rem;
}
.btn:hover {
  background-color: #ffe44a;
  color: #333;
}
.h2-projects {
  margin-top: 20rem;
  font-family: "GT-America-S-Bold", sans-serif;
  font-size: 7.4rem;
  font-weight: 700;
  margin-left: 4rem;
}

/* CTA  */

.section-cta {
  padding: 4.8rem 0 12.8rem 0;
  margin: 0 auto;
  max-width: 80rem;
  margin-left: 30rem;
  margin-right: 30rem;
  margin-top: 8rem;
  margin-bottom: 7rem;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);

  border-radius: 11px;
  background-image: linear-gradient(to right bottom, #fff, rgb(226, 224, 224));
  overflow: hidden;
}
.photo-two {
  background-size: cover;
  background-position: center;
  height: 50rem;
  transition: all 0.3s;
  opacity: 0.9;
}
.photo-two:hover {
  transform: scale(1.02);
}

h3 {
  color: rgb(48, 47, 47);
  font-family: "GT-America-S", sans-serif;
  font-size: 3.6rem;
  /* text-transform: uppercase; */
  font-weight: 700;
  transition: all 0.3s;
  line-height: 1.8;
  /* margin-bottom: 4rem; */
}
h3:hover {
  transform: scale(0.99);
  color: rgba(51, 51, 51, 0.898);
}
.cta-form {
  color: #333;
  font-family: "Inherit", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  margin-right: 6rem;
}

.cta-form input,
.cta-form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: #333;
  border: none;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  width: 30rem;
}

.cta *:focus {
  outline: none;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}
.btn-form {
  border: none;
  background-color: #333;
  color: rgb(240, 240, 240);
  border-radius: 10px;
  height: 4.4rem;
  font-family: "Montserrat";
  padding: 10px;
  margin-top: 2rem;
  width: 32rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  text-transform: uppercase;

  transition: all 0.3s;
}

.btn-form:hover {
  background-color: rgba(255, 228, 74);
  /* transform: scale(0.9); */
  color: #333;
}

.footer-photo {
  width: 100%;
  opacity: 0.7;
}

.message {
  height: 13rem;
}
/* LOGOS  / ICONS */
.section-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 39px 57px -42px rgba(66, 68, 90, 1);
  transition: ease-in-out 0.3s;
  margin-bottom: 4rem;
}
/* FOOTER 
 */

.footer {
  height: 50rem;
  -webkit-box-shadow: 5px -30px 35px -31px rgba(66, 68, 90, 1);
  -moz-box-shadow: 5px -30px 35px -31px rgba(66, 68, 90, 1);
  box-shadow: 5px -30px 35px -31px rgba(66, 68, 90, 1);
}
.arrow {
  transition: all 0.3s;
}
.arrow:hover {
  color: #555;
  cursor: pointer;
}
.icons {
  margin: 2rem;
}

/* Media  */

@media (max-width: 84em) {
  .header {
    position: inherit;
    left: none;
    transform: none;
  }
  .p-about-margin {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .h1-main {
    margin-bottom: 5rem;
  }
  .home {
    padding-top: 10rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .section-work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .cta {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }
  .header:hover {
    transform: none;
  }
  h4 {
    margin-right: 5rem;
    margin-left: 5rem;
  }

  .section-work {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .section-cta {
    padding: 2.2rem 0 2.2rem 0;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .p-about-margin {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }
  .section-work {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    height: 44rem;
  }
  .svg-height
{
  height: 4rem;
}
  .section-about {
    display: flex;
    flex-direction: column;
    padding: 10rem;
  }
  .section-cta {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .photo-two {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  }
}

@media (max-width: 44em) {
  .header {
    max-width: 100%;
    border-radius: 0px;
  }
  .section-cta {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 34em) {
  .header {
    height: 10rem;
  }

  .section-about {
    padding: 0 2rem;
  }
  .photo-one {
    margin-top: 7rem;
  }
  .footer {
    background-position: 50%;
  }
  .list {
    gap: 3rem;
  }
  .cta {
    display: flex;
    flex-direction: column;
  }
  .text-box {
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .cta-form {
    margin-right: 0rem;
  }
  .photo-two {
    margin: 0 auto;
    border-radius: 20px;
    opacity: 0.6;
  }
}

@media (max-width: 28em) {
  .header {
    height: 10rem;
  }
  h1 {
    font-size: 4.4rem;
  }

  .section-about {
    padding: 0 2rem;
  }
  .photo-one {
    margin-top: 7rem;
  }
  .footer {
    background-position: 50%;
  }
  .list {
    align-items: space-between;
  }
}
